header { 
    @include grid-container;
    background:$dark-gray;
    padding:2rem;

    .site-title { 
      @include grid-column(1, $mobile);
      margin-bottom:2rem; 

      @include grid-media($tablet) {
        @include grid-column(2);
        @include grid-push(1);
      }

       @include grid-media($laptop) {
        @include grid-column(4);
        @include grid-push(2); 
      }
    }

    .profile-photo { 
      text-align:center; 
      img { border-radius: 50%; width:65%; max-width:320px; height:auto; margin:2px; border: 2px solid $white;}
    }
    
    .actions { 
     // text-align: center; 
      @include grid-column(1, $mobile);

      .button { 
        width:100%; 
        margin-bottom:1rem;
        position:relative; 

        span.fa {padding-right:1rem; }

        &:last-of-type { 
          margin-bottom:0; 
        }
      }

      @include grid-media($tablet) {
        @include grid-column(4);
        .button  { 
          @include grid-column(2); 
          // &::last-of-type{ 
          //   @include omega(); 
          // }
        }
      }

      @include grid-media($laptop) {
        @include grid-column(8);
        .button  { 
          @include grid-column(2); 
          // &::last-of-type{ 
          //   @include omega(); 
          // }
        }
      }

    }
}