// Grid Settings 
$neat-grid: (
  columns: 12,
  gutter: 2rem,
);


// Custom Grids 
$mobile: (
  columns: 1,
  gutter: 2rem
);

$phone: (
  columns: 4,
  gutter: 2rem,
  media: "(min-width: 430px)",
);

$tablet: (
  columns: 4,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

$laptop: (
  columns: 8,
  gutter: 2rem,
  media: "(min-width: 1024px)",
);
